#! /bin/sh

# This file is sourced when launching a DM from startx/xinit

# session launch

xss-lock -- slock &
redshift &
dunst -follow mouse &
pamixer --set-volume 50 &
sbacklight set 3 &
bat_notify &
AC_notify &
setbg &
dwmbar &

xinput set-prop 'Synaptics TM3072-003' 'libinput Tapping Enabled' 1 &
xinput set-prop 'Synaptics TM3072-003' 'libinput Natural Scrolling Enabled' 1 &
xinput set-prop 'Synaptics TM3072-003' 'libinput Accel Speed' 0.4 &
setxkbmap 'fr(oss)'
xmodmap $XDG_CONFIG_HOME/xmodmap
sxhkd &
