#                    _____    _
#  _____      ___   |___  |__| |__ 		Swy7ch's fish shell config file
# / __\ \ /\ / / | | | / / __| '_ \
# \__ \\ V  V /| |_| |/ / (__| | | |
# |___/ \_/\_/  \__, /_/ \___|_| |_|
#               |___/

# Start X at login
if status is-login
	if test -z "$DISPLAY" -a $XDG_VTNR = 1
		exec startx -- -keeptty
end
end

# True gruvbox colors in vim
#bash $HOME/.vim/plugins/gruvbox/gruvbox_256palette.sh

# User configuration
function fish_greeting
	set_color $fish_color_autosuggestion
	uname -msr

	command -s uptime >/dev/null
	and uptime

	set_color normal
end

# Set less colors (-> manpages)
set -xU LESS_TERMCAP_md (printf "\e[01;36m")
set -xU LESS_TERMCAP_me (printf "\e[0m")
set -xU LESS_TERMCAP_se (printf "\e[0m")
set -xU LESS_TERMCAP_so (printf "\e[01;44;33em")
set -xU LESS_TERMCAP_ue (printf "\e[0m")
set -xU LESS_TERMCAP_us (printf "\e[01;32m")

#################################################
###############   PROMPT CONFIG  ################
#################################################

# change colorscheme
set -g theme_color_scheme gruvbox

# show the name of the process in polybar
set -g theme_title_display_process yes

# set the right date formate
set -g theme_date_format "+%X"

# to use nerd fonts
# set -g theme_nerd_fonts yes

# do not alert untracked files in git
# set -g theme_display_git_untracked no

# changes to git glyphs
set -g git_plus_glyph		\uF4A7 '' # PLUS
set -g git_minus_glyph		\uF48B '' # MINUS
