# 		David JULIEN - GitLab@Swy7ch
#                    _____    _
#  _____      ___   |___  |__| |__
# / __\ \ /\ / / | | | / / __| '_ \
# \__ \\ V  V /| |_| |/ / (__| | | |
# |___/ \_/\_/  \__, /_/ \___|_| |_|
#               |___/

# Start X at login
if status is-login
	if test -z "$DISPLAY" -a $XDG_VTNR = 1
		exec startx -- -keeptty
	end
end

# True gruvbox colors in vim
#bash $HOME/.vim/plugins/gruvbox/gruvbox_256palette.sh

# User configuration
function fish_greeting
	set_color $fish_color_autosuggestion
	uname -msr

	command -s uptime >/dev/null
	and uptime

	set_color normal
end

# Set less colors (-> manpages)
set -xU LESS_TERMCAP_md (printf "\e[01;36m")
set -xU LESS_TERMCAP_me (printf "\e[0m")
set -xU LESS_TERMCAP_se (printf "\e[0m")
set -xU LESS_TERMCAP_so (printf "\e[01;44;33em")
set -xU LESS_TERMCAP_ue (printf "\e[0m")
set -xU LESS_TERMCAP_us (printf "\e[01;32m")

# Set environment variables (user-wide)
export TERMINAL=st

#################################################
###############   PROMPT CONFIG  ################
#################################################

# CHAR

set SPACEFISH_CHAR_SYMBOL ""

# TIME

set SPACEFISH_TIME_SHOW false
#set SPACEFISH_TIME_COLOR white
set SPACEFISH_TIME_SUFFIX " > "

# USER

set SPACEFISH_USER_SHOW never
set SPACEFISH_USER_PREFIX"" # remove `with` before username
set SPACEFISH_USER_COLOR yellow

# DIR

set SPACEFISH_DIR_TRUNC 0
set SPACEFISH_DIR_PREFIX ""

# HOST

# Result will look like this:
#   username@:(hostname)
set SPACEFISH_HOST_PREFIX "@["
set SPACEFISH_HOST_SUFFIX "]"
set SPACEFISH_HOST_SHOW never

# GIT

# Get spaces from `[...]`
set SPACEFISH_GIT_SYMBOL " "
set SPACEFISH_GIT_STATUS_DELETED ""
set SPACEFISH_GIT_STATUS_AHEAD ""
set SPACEFISH_GIT_STATUS_BEHIND ""
set SPACEFISH_GIT_TRUNC 3

# JOBS

set SPACEFISH_JOBS_SYMBOL ""

